// This import applies a global reset to any page that imports this stylesheet.
@import "compass_twitter_bootstrap";

#content {
  margin-top: 5em;
}

.description {
  margin-top: 18px;
  overflow: hidden;
}

.metadata {
  text-align: right;
  margin-top: 18px;
  small {
    float: left;
    padding: 6px 0px;
    display: block;
  }
}

form#questionnaire {
  legend {
    border: none;
    padding-left: 20ex;
  }

  p.question {
    width: 80%;
    font-weight: bolder;
    font-size: larger;
  }

  .answer, .question {
    float: left;
    clear: left;
  }

  hr.clear {
    clear: both;
  }

  label, input {
    display: inline;
  }

  textarea {
    width: 60%;
    height: 10em;
  }

  div.actions {
    text-align: right;
  }

  h4 {
    font-size: 24px;
    line-height: 1.2em;
    margin: 0;
  }
}

footer {
  clear: both;
  margin-top: 45px;
  padding: 16px 36px;
  border-top: 1px solid #E5E5E5;
  text-align: right;

  img {
    float: left;
  }

  h4 {
    margin: 26px 0px;

  }

  h3 {
    margin: 10px 0px;

  }

}


h1.title {
  margin-bottom: 2em;
}

.badge {
  padding: 7px 12px;
}

textarea#body {
  width: 660px;
}

input[type="text"] {
  height: 28px;
  width: 570px;
}

.records .type {
  background-color: #a22;
}

.expectations .type {
  background-color: #2a2;
}

.plan .type {
  background-color: #22a;
}

.new-doc {
  float: right;
  margin: 3px 3px 0 0;
}
